*{ font-family: 'Josefin Sans', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap'); }

h1 {
    background-color: #fffdef;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0px 0px 5px #fffef8;
}

p {
    font-size: 20px;
}
body {
   
    background-color: #000000;
    text-align: center;
    background-image: url(Anchmir\ wat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.flexcontainer {
    
   display: flex;
   flex-direction: row;
   align-items: center;
   
   
}



.textbox {
    background-color: rgba(245, 245, 245, 0.418);
    border-radius: 6px;
    box-shadow: 0px 0px 15px #ffffff;
    padding: 10px;
   
}




.banner {
    
    height: 300px;
    max-width: 100%;
    
    
}





.button {
    background-color: rgb(201, 151, 188);
    padding: 10px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    }

    .button:hover {
        background-color:#6fec99
        
    }