*{ font-family: 'Josefin Sans', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap'); }

h1 {
    background-color: #82bb26;
    border-radius: 3px;
}
body {
    background-color: #27a78b;
    text-align: center;
    max-width: 100%;
}
.textbox {
    background-color: whitesmoke;
    border-radius: 6px;
}

.list {
    display: inline-block;
    background-color: #f8f8f8;
    
}

.icons {
    margin-top: 60px;
    
}

.icons img {
    background-color: #155334;
    }

.icons img:hover {
    background-color:#1d6e46;
   transform: scale(1.1);
    
}
.banner {
    background-image: url(Anchmir\wat.png);
    height: 300px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
